@model IEnumerable<ProductColor>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Color List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="ProductColor" asp-action="Create" class="btn btn-primary ">
                <span>Add New Color</span>
            </a>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>
                        Color Name
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var color in Model)
                {
                    <tr>
                        <td>@color.ProductColorName</td>
                        <td>
                            <a asp-controller="ProductColor" asp-action="Edit" asp-route-id="@color.ProductColorID" class="btn btn-primary">
                                Edit
                            </a>

                            <a asp-controller="ProductColor" asp-action="Delete" asp-route-id="@color.ProductColorID" class="btn btn-danger">
                                Delete
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>